body {
    background: url(./images/background.png);
    color: #fff;
}

.container {
    text-align: center;
    width: 70%;
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: auto;
    border: 1px solid burlywood;
}

.link-container {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px auto;
    width: 85%;
    height: 45px;
    font-size: 11px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border: 0;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0,3s ease 0s;
    outline: none;
}

button:hover, button:active {
    background-color: #fafafa;
    color: #000;
    box-shadow: 0px 15px 20px rgba(65, 105, 255, 0.5);
    transform: translateY(-4px), translateX(-4px);
}

a {
    color: wheat;
}

a:hover {
    color: royalblue;
    font-weight: bolder;
}

footer {
    text-align: center;
}